/* General Reset */
body, h1, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    text-decoration: none;
    list-style: none;
}
  
body {
    background-color: #181818;
    color: white;
}
  
/* Navbar Container */
.navbar {
     display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    background-color: #000;
 }
  
/* Logo */
.logo h1 {
    font-size: 1.5em;
    color: white;
}
  
/* Navigation Links */
  .nav-links {
    display: flex;
    gap: 30px;
}
  
.nav-links li {
    list-style: none;
}
  
.nav-links a {
     color: white;
    font-size: 1.1em;
    transition: color 0.3s;
}
  
.nav-links a:hover {
    color: #00aced;
}
  
/* Social Links */
.social-links {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  
  .social-icon svg {
    width: 24px; 
    height: 24px; 
  }
  
  .social-icon svg path {
    fill: white; 
    transition: fill 0.3s ease; 
  }
  
  .social-icon:hover svg path {
    fill: #00aced;
  }